<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/css/index.css">


    <h1>Campgrouds</h1>
    <ul id="card-container">
        <%for(let camp of camps){%>
            <li class="card"> 
                <img class="card-img" src="<%= camp.image %>" alt="Image for camp <%= camp.title %>">
                <section class="card-info">
                    <h2><%= camp.title %></h2>
                    <p>Price:<%= camp.price %> $</p>
                    <p><%= camp.description %></p>
                    <a href="/campground/<%= camp._id %>">View Camp</a>
                </section>
            </li>   
        <%}%>
    </ul>

